:root {
  --background-color: #e5e5e5;
  --main-text-color: #ffffff;
  --accent-color: #28a745;
  --hero-color: #e9e9e9;
  --primary-text-color: #333333;
  --section-color: #f4f4f4;
  --bgc-secondary: #0284d0;
  --register-text: #808080;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Utillity */
.container {
  width: 1360px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header styles */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-header {
  display: flex;
  align-items: center;
}

.logo-icon {
  fill: var(--accent-color);
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
  display: block;
  transition: color 250ms linear;
}
.nav .link:hover {
  color: var(--accent-color);
}
.accent {
  color: var(--accent-color);
}

.logo {
  padding-top: 11px;
  font-size: 35px;
  line-height: 1.2;
}

.main-nav {
  margin-left: auto;
}

.header-hero {
  background-image: url(/images/backgroundHero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  font-size: 18px;
  line-height: 1.6;
  padding-top: 21px;
}

.nav li:not(:last-child) {
  margin-right: 38px;
}

/* main styles */
.tagline {
  font-size: 20px;
  line-height: 1.65;
}

.title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-transform: capitalize;
}
/* Hero Section  */
.container.hero {
  padding-top: 255px;
  padding-bottom: 284px;
}

.hero {
  text-align: center;
}

.hero-title {
  font-style: normal;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: var(--hero-color);
  margin-bottom: 25px;
  text-transform: capitalize;
}

.hero-descr {
  font-size: 22px;
  line-height: 1.68;
  text-align: center;
  color: var(--hero-color);
  margin-bottom: 25px;
}

.btn {
  background: var(--accent-color);
  color: var(--main-text-color);
  font-family: inherit;
  font-size: 18px;
  line-height: 1.56;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  transition: background-color 250ms linear;
}
.btn:hover,
.btn:focus {
  background-color: #259b42;
}
.hero-button {
  text-align: center;
}

/* services section */
.services-section {
  background: var(--section-color);
  border-radius: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin: 0 auto;
  margin-bottom: 15px;
}

.services-icon {
  fill: var(--main-text-color);
}

.services-list {
  display: flex;
  gap: 70px;
}

.services-item {
  width: 362px;
  text-align: center;
}

.services-group-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.65;
  margin-bottom: 16px;
  text-transform: capitalize;
}

/*  Solutions section*/
.solutions-container {
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.solutions-box {
  display: block;
  padding-top: 84px;
  padding-left: 30px;
  padding-bottom: 84px;
}
.solutions-tagline {
  margin-bottom: 5px;
}
.solutions-title {
  margin-bottom: 26px;
}
.solutions-text {
  width: 606px;
  margin-bottom: 17px;
}
.solutions {
  background-color: var(--accent-color);
}
.solutions-tagline,
.solutions-title,
.solutions-text {
  color: var(--main-text-color);
}

.btn-solutions {
  padding: 11px 27px 12px 42px;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  width: 167px;
  height: 50px;
  left: 710px;
  top: 1369px;
}

/* Business cases section*/
.business-section {
  padding: 50px 0;
}

.business-tagline {
  text-align: center;
  margin-bottom: 15px;
}

.business-title {
  text-align: center;
  margin-bottom: 34px;
}

.business-descr {
  text-align: center;
  margin-bottom: 39px;
}

.business-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.business-item {
  flex-basis: calc((100% - 24px) / 4);
}

/* Blog post section */
.blog-section {
  background-color: var(--bgc-secondary);
  margin: 0;
}
.container.blog-wrapper {
  display: flex;
}
.blog-tagline,
.blog-title,
.blog-text {
  color: var(--main-text-color);
}
.blog-container {
  display: block;
  width: 680px;
  padding: 112px 30px 113px 44px;
}
.blog-tagline {
  margin-bottom: 5px;
}
.blog-title {
  margin-bottom: 26px;
}
.blog-text {
  margin-bottom: 17px;
}
.btn-blog {
  background-color: var(--bgc-secondary);
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  padding: 11px 36px 10px 36px;
  transition: background-color 250ms linear;
}
.btn-blog:hover,
.btn-blog:hover {
  background-color: #0278bd;
}
.blog-item {
  display: flex;
  width: 680px;
  height: 517px;
}

/* Team section */
.team-group-list {
  position: relative;
}
.social-list-team {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 25px;
  justify-content: center;
  transition: opacity 250ms linear;
}

.team-item .team-group-list::before {
  position: absolute;
  content: "";
  opacity: 0;
  top: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.4);
  width: 100%;
  height: 100%;
}
.team-item:hover .team-group-list::before,
.team-item:hover .social-list-team {
  opacity: 1;
}
.team-item {
  cursor: pointer;
}
.tagline-team,
.title-team,
.paragraph-team,
.name-team,
.position-team {
  text-align: center;
  color: var(--primary-text-color);
}
.name-team {
  margin-bottom: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.28;
}
.position-team {
  text-transform: capitalize;
}
.team-container {
  margin-bottom: 57px;
}
.tagline-team {
  padding-top: 49px;
  margin-bottom: 16px;
}
.title-team {
  margin-bottom: 34px;
}
.paragraph-team {
  margin-bottom: 45px;
}
.team-group {
  display: flex;
  justify-content: center;
  gap: 19px;
}
.crew {
  padding: 13px;
}

/* callback */
.callback-section {
  background-color: var(--section-color);
}

.container-callback {
  display: flex;
}

.callback-request {
  display: flex;
  flex-direction: column;
  width: 680px;
  padding: 80px 30px;
}

.title-callback {
  margin-bottom: 40px;
}

.callback-text {
  color: var(--register-text);
  background-color: var(--main-text-color);
  font-size: 18px;
  line-height: 1.5;
}

.callback-name {
  margin-bottom: 36px;
}

.callback-email {
  margin-bottom: 60px;
}
/* footer */
.footer {
  background-color: var(--primary-text-color);
  padding: 20px 0;
}

.last-words {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.57;
  text-align: center;
  color: var(--main-text-color);
}

.social-list {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-bottom: 10px;
}

.social-link {
  fill: var(--main-text-color);
  transition: fill 250ms linear;
}

.social-link:hover,
.social-link:focus {
  fill: var(--accent-color);
}
/* Modal window */
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 250ms linear;
  background-color: rgba(47, 48, 58, 0.4);
  overflow: scroll;
}
.modal-window {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 50%;
  left: 50%;
  background-color: var(--main-text-color);
  transform: translate(-50%, -50%);
  /* transform: translateX(-50%); */
}
body.modal-open {
  overflow: hidden;
}
.modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 34px;
  height: 34px;
  border-radius: 20%;
  border: 1px solid var(--register-text);
  fill: var(--primary-text-color);
  transition: background-color 250ms linear, fill 250ms linear;
}
.modal-svg {
  color: currentColor;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--background-color);
  fill: var(--accent-color);
  cursor: pointer;
}
/* Style  - form */
.contact-form {
  padding: 30px;
}
.contact-form-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 5px;
}
.form-input {
  margin-bottom: 5px;
}
.input-inner-form {
  position: relative;
  margin-top: 6px;
  fill: var(--register-text);
}
.input,
.textarea {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  outline: none;
  padding: 10px 25px;
  font-size: 14px;
  transition: border-color 250ms linear;
}
.input-icon {
  position: absolute;
  pointer-events: none;
  color: currentColor;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: fill 250ms linear;
}
.input:focus,
.input:hover {
  border-color: var(--accent-color);
}
.input:focus + .input-icon,
.input:hover + .input-icon {
  fill: var(--accent-color);
}
.textarea {
  height: 100px;
  resize: none;
}
.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: color 250ms linear;
}
.textarea:focus::placeholder,
.textarea:hover::placeholder {
  color: var(--accent-color);
}
.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
.checkbox {
  appearance: none;
  position: relative;
}
.check-icon {
  width: 18px;
  height: 18px;
  content: "";
  cursor: pointer;
  border: 2px solid var(--register-text);
  border-radius: 2px;
  fill: var(--main-text-color);
  fill-opacity: 0;
  transition: background-color 250ms linear, fill-opacity 250ms linear, border-color 250ms linear;
}

.checkbox:checked + .check-icon {
  fill-opacity: 1;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}
.checkbox:focus-visible + .check-icon {
  border-color: var(--accent-color);
}
.checkbox-label {
  cursor: pointer;
}
.terms-text {
  color: var(--accent-color);
}
.btn-send {
  display: block;
  width: 165px;
  margin-left: auto;
  margin-right: auto;
}
