/* КОЛІР ТЕКСТУ В ШАПЦІ БІЛИЙ ТОМУ НЕ ІИДНО ПОКИ ТЕКСТУ, АЛЕ ВІН ТАМ Є)) */
:root {
  --background-color: #e5e5e5;
  --main-text-color: #ffffff;
  --accent-color: #28a745;
  --hero-color: #e9e9e9;
  --primary-text-color: #333333;
  --section-color: #f4f4f4;
  --bgc-secondary: #0284d0;
  --register-text: #808080;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Utillity */

.container {
  width: 1360px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
/* Header styles */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

.logo {
  font-size: 35px;
  line-height: 1.2;
}

.nav {
  font-size: 18px;
  line-height: 1.6;
}

/* main styles */

/* Hero Section  */

.hero {
  background-image: url(/images/backgroundHero.jpg);
}

.hero-title {
  font-style: normal;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: var(--hero-color);
}

.hero-descr {
  font-size: 22px;
  line-height: 1.68;
  text-align: center;
  color: var(--hero-color);
}

.btn {
  background: var(--accent-color);
  color: var(--main-text-color);
  font-family: inherit;
  font-size: 18px;
  line-height: 1.56;
  cursor: pointer;
}

.hero-button {
  text-align: center;
}

/* services section */
.services-section {
  background: var(--section-color);
  border-radius: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin: 0 auto;
  margin-bottom: 15px;
}

.services-icon {
  fill: var(--main-text-color);
}
.services-list {
  display: flex;
  gap: 70px;
}
.services-item {
  width: 362px;
  text-align: center;
}
.services-group-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.65;
  margin-bottom: 16px;
}

/*  Solutions section*/
.solutions {
  background-color: var(--accent-color);
}

.tagline {
  font-size: 20px;
  line-height: 1.65;
}

.title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.solutions-tagline,
.solutions-title,
.solutions-text {
  color: var(--main-text-color);
}

.btn-solutions {
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  width: 167px;
  height: 50px;
  left: 710px;
  top: 1369px;
}

/* Business cases section все наслідується*/

/* Blog post section */
.blog-section {
  background-color: var(--bgc-secondary);
}

.blog-tagline,
.blog-title,
.blog-text {
  color: var(--main-text-color);
}

.btn-blog {
  background-color: var(--bgc-secondary);
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  width: 167px;
  height: 50px;
  left: 710px;
  top: 1369px;
}
/* Section about team */
/* .team-section{
 text-align: center;
  color: var(--primary-text-color); 
} */
.tagline-team,
.title-team,
.paragraf-team,
.name-team,
.position-team {
  text-align: center;
  color: var(--primary-text-color);
}

.name-team {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.28;
}
.position-team {
  text-transform: capitalize;
}
/* callback */
.callback {
  background-color: var(--section-color);
}
.callback-text {
  color: var(--register-text);
  background-color: var(--main-text-color);
  font-size: 18px;
  line-height: 1.5;
}
.footer {
  background-color: var(--primary-text-color);
}
.last-words {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.57;
  text-align: center;
  color: var(--main-text-color);
}

.social-list {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.social-link{
  fill: var(--main-text-color);
}
.social-link:hover, .social-link:focus {
fill: var(--accent-color);
}