/* КОЛІР ТЕКСТУ В ШАПЦІ БІЛИЙ ТОМУ НЕ ІИДНО ПОКИ ТЕКСТУ, АЛЕ ВІН ТАМ Є)) */
:root {
  --background-color: #e5e5e5;
  --main-text-color: #ffffff;
  --accent-color: #28a745;
  --hero-color: #e9e9e9;
  --primary-text-color: #333333;
  --section-color: #f4f4f4;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.56;
}
/* Header styles */
ul {
  list-style: none;
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

.logo {
  font-size: 35px;
  line-height: 1.2;
}
.nav {
  font-size: 18px;
  line-height: 1.6;
}
/* main styles */

/* Hero Section  */

.hero {
  background-image: url(/images/backgroundHero.jpg);
}

.hero-title {
  font-style: normal;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: var(--hero-color);
}

.hero-descr {
  font-size: 22px;
  line-height: 1.68;
  text-align: center;
  color: var(--hero-color);
}
.btn {
  background: var(--accent-color);
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 1.56;
}
.hero-button {
  text-align: center;
}
/* services section */
.services-section {
  background: var(--section-color);
  border-radius: 0px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.services-group-title {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 1.65;
  color: var(--primary-text-color);
}
.service-group-paragraf {
  font-family: "Open Sans";
  color: var(--primary-text-color);
}
/*  Solutions section*/
.solutions {
  background-color: var(--accent-color);
}
.tagline {
  font-size: 20px;
  line-height: 1.65;
}
.title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}
.solutions-tagline,
.solutions-title,
.solutions-text {
  color: var(--main-text-color);
}
.btn-solutions {
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  width: 167px;
  height: 50px;
  left: 710px;
  top: 1369px;
}
